* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content:center;
}
.container {
    border:5px solid  black;
    width:400px;
    
}

.grid-container{
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    margin:0px
}
.grids{
    
    background: white;
    border: none red;
     outline-style: solid;
  outline-color: green;
    width: 25px;
    height:25px;
}
