* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}
.container {
    display: flex;
}
.grid {
    /*flex: 1;*/
    background: white;
    border: solid red;
    width: 100px;
    height: 100px;
}
