* {
    padding: 0;
    box-sizing:border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content:center;
    padding-top:10px;
}
.container {
    border:2px solid  black;
    width: 404px;
    height: 404px;
}

.grid-container{
    display:flex;
    flex-wrap:wrap;
    width: 400px;
    height: 400px;
}
.grids{
    background: white;
     border: solid 0.5px ;
     flex-shrink:0;
}
