* {
    padding: 0;
    box-sizing:border-box;
    align-items:center;
    justify-content:center;
    margin: 0;
}

body {
    display: flex;
    justify-content:center;
    padding-top:5px;
    flex-direction: column;
}
.container {
    border:2px solid  black;
    width: 404px;
    height: 404px;
    
    margin-bottom:5px;
    justify-content:center;}

.grid-container{
    display:flex; 
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.grids{
    background: white;
     border: none 0.5px grey ;
     flex-shrink:0;
}

.resize-grid{
    display:flex;

}
   
button{
    margin:5px;
}
